/categories
/todos
/out/production/TodoList/handlers/CategoryListHandler.class
/out/production/TodoList/handlers/FileHandler.class
/out/production/TodoList/model/Priorities.class
/out/production/TodoList/model/TodoItem.class
/out/production/TodoList/handlers/TodoManager.class
/out/production/TodoList/util/Utilities.class
