/categories
/todos
/out/production/TodoList/handlers/*.class
/out/production/TodoList/model/*.class
/out/production/TodoList/util/*.class
/out/production/TodoList/database/*.class
/out/production/TodoList/controller/*.class
/.idea
/TodoList.iml

/apache-tomcat-10.0.27/
/target/TodoService.war
/target/classes/controller/*.class
/target/TodoService/WEB-INF/classes/controller/*.class
/.idea/dataSources.local.xml
/target/TodoService/WEB-INF/web.xml
